.option {
  height: 60px;
  width: 80%;
  margin: 40px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  text-decoration: none;
  color: #fff;
  transition: all 0.2s ease-in-out;

  span {
    margin-left: 10px;
    margin-right: 4px;
    font-size: 20px;
    font-weight: 700;

    &.count {
      font-size: 24px;
    }
  }

  &[href='/info'] {
    box-shadow: 0 0 10px green;

    &:active {
      box-shadow: 0 0 30px green;
    }
  }

  &[href='/wheel'] {
    box-shadow: 0 0 10px orange;

    &:active {
      box-shadow: 0 0 30px orange;
    }
  }

  &[href='/login'],
  &[href='/admin'] {
    box-shadow: 0 0 10px red;

    &:active {
      box-shadow: 0 0 30px red;
    }
  }

  &:active {
    transform: scale(0.95);
  }

  &.good {
    box-shadow: 0 0 10px green;
  }

  &.normal {
    box-shadow: 0 0 10px orange;
  }

  &.bad {
    box-shadow: 0 0 10px red;
  }
}
